<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&display=swap" rel="stylesheet">
<div class="navbar">
  <div class="titulo px-3">
    <nav class="dropdownmenu">
      <ul>
        <li><a routerLink="" routerLinkActive="active-link">PageName</a></li>
        <li><a href="#" style="border: 1px solid black;">Plataformas</a>
          <ul id="submenu">
            <li><a href="#" style="border-radius: 0;">1</a></li>
            <li><a href="#" style="border-radius: 0;">2 </a></li>
            <li><a href="#" style="border-radius: 0;">3 </a></li>
            <li><a href="#" style="border-radius: 0 0 15px 15px ;">4</a></li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
  <div class="botones">
    <nav class="options">
      <ul>
        <li><a routerLink="login" routerLinkActive="active-link" class="btn1">Ingresar</a></li>
        <li><a routerLink="register" routerLinkActive="active-link" class="btn2" >Registrarse</a></li>
      </ul>
    </nav>
    
  </div>
</div>