<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<app-navbar></app-navbar>

<body>
    <div class="contenedor">
        <div class="texto-y-boton">
            <h1>Necesitas ayuda</h1>
          <p>para obtener o subir un documento?</p>
          <div class="option">
            <ul><li><a href="#" class="btn1">Ingresa con tu cuenta institucional</a></li></ul>
          </div>
        </div>
        <div class="imagen">
          <img src="../../assets/img/home-1.png">
        </div>
      </div>
      <div class="seccion2">
        <div class="imagen2">
          <img src="../../assets/img/home2.png">
        </div>
        <div class="texto-boton">
            <h1>Necesitas ayuda</h1>
          <p>para obtener o subir un documento?</p>
          
        </div>
      </div>
      <div class="seccion3">
        <div class="texto-boton3">
            <h1>Necesitas ayuda</h1>
          <p>para obtener o subir un documento?</p>
        </div>
        <div class="imagen3">
            <img src="../../assets/img/home3.png">
          </div>
      </div>
      <div class="seccion4">
        <div class="imagen4">
          <img src="../../assets/img/home4.png">
        </div>
        <div class="texto-boton4">
            <h1>Necesitas ayuda</h1>
          <p>para obtener o subir un documento?</p>
        </div>
      </div>
      <div class="barra-inferior">
        <p></p>
            <p>Necesitas ayuda</p>
      </div>
</body>
</html>